<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.assessmentalatform.mapper.CourseMapper">

    <select id="selectCourseNumber" resultType="int">
        select count(*) from course
    </select>

    <select id="selectCourseByPage" resultType="com.example.assessmentalatform.bean.Course">
        select * from course limit #{page},10
    </select>

    <insert id="insertCourse">
        insert into course(course_id,course_name,course_type,credit,course_hour) values (#{courseId},#{courseName},#{courseType},#{credit},#{courseHour})
    </insert>

    <delete id="deleteCourseById">
        delete from course where id=#{id}
    </delete>

    <select id="selectCourseByTeacherIdNumber" resultType="int">
        select  count(*) from course where course_id in (select course_id from curriculum where teacher_id=#{TeacherId})
    </select>

    <select id="selectCourseByTeacherId" resultType="com.example.assessmentalatform.bean.Course">
        select *  from course where course_id in (select course_id from curriculum where teacher_id=#{param1}) limit #{param2},10
    </select>

    <select id="getCourseIdByName" resultType="String">
        select course_id from course where course_name=#{courseName}
    </select>
</mapper>