<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.assessmentalatform.mapper.TaskMapper">

    <insert id="insertTask">
        insert into task(course_id,course_name,speciality,classes,question) values (#{courseId},#{courseName},#{speciality},#{classes},#{question})
    </insert>
</mapper>