<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <div th:replace="public::link"></div>
</head>
<body>
<div id="wrapper">
    <div th:replace="public::bar"></div>
    <div th:replace="public::${transmission.getMenu()}(Uri='generate-papers.html')"></div>
    <div id="page-wrapper">
        <div id="page-inner">
            <!--			 -->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 class="page-header">
                        生成试题 <small>Generate questions</small>
                    </h1>
                </div>
            </div>
            <!--                -->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!-- Advanced Tables -->
                    <form th:action="@{/teacher/generate-questions}" method="post">
                        <select class="form-control" th:name="subject">
                            <option th:each="course:${courses}" th:text="${course.getCourseName()}" th:value="${course.getCourseName()}">1</option>
                        </select>
                    <div class="form-group">
                        <label>简单</label>
                        <input class="form-control" name="simple">
                    </div>
                    <div class="form-group">
                        <label>中等</label>
                        <input class="form-control" name="medium">
                    </div>
                    <div class="form-group">
                        <label>困难</label>
                        <input class="form-control" name="difficulty">
                    </div>

                    <div class="col-md-12 text-center">
                        <button class="btn btn-primary btn-lg" type="submit">
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp确定&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        </button>
                    </div>
                    </form>
                    <!--End Advanced Tables -->
                </div>
            </div>

        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
</body>
</html>
