<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <div th:replace="public::link"></div>
</head>


<body>
	<div id="wrapper">
<!--	bar-->
<div th:replace="public::bar"></div>
<!--      -->
<div th:replace="public::admin_menu(Uri='index-administrator.html')"></div>
<!--        -->
		<div id="page-wrapper">
            <div id="page-inner">
            <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Dashboard <small>Summary of your App</small>
                        </h1>
                    </div>
                </div>
    <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-green green">
                            <div class="panel-left pull-left green">
                                <i class="fa fa-eye fa-5x"></i>
                                
                            </div>
                            <div class="panel-right">
								<h3 th:text="${teacherNumber}">8,457</h3>
                               <strong> 教师数</strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-blue">
                              <div class="panel-left pull-left blue">
                                <i class="fa fa-shopping-cart fa-5x"></i>
								</div>
                                
                            <div class="panel-right">
							<h3 th:text="${courseNumber}">52,160 </h3>
                               <strong onclick="getData()"> 课程数</strong>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-red">
                           <div class="panel-left pull-left red">
                                <i class="fa fa fa-comments fa-5x"></i>    
                            </div>
                            
                            <div class="panel-right">
							 <h3 th:text="${stuNumber}">15,823 </h3>
                               <strong>  学生数</strong>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-brown">
                            <div class="panel-left pull-left brown">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="panel-right">
							<h3 th:text="${multipleNumber}">36,752 </h3>
                             <strong>题库</strong>

                            </div>
                        </div>
                    </div>
                </div>
            	<div  class="row" id="zj" style="width: 1500px;height:400px;"></div>
			</div>
		</div>
	</div>
	
</body>
</html>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('zj'));

    //function getData(){
    var xmlhttp;
    if (window.XMLHttpRequest)
    {
        //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
        xmlhttp=new XMLHttpRequest();
    }
    else
    {
        // IE6, IE5 浏览器执行代码
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
    {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
            window.alert(JSON.parse(xmlhttp.responseText))

            var option = {
                title: {
                    text: 'ECharts 入门示例'
                },
                tooltip: {},
                legend: {
                    data:['销量']
                },
                xAxis: {
                    data:JSON.parse(xmlhttp.responseText)
                },
                yAxis: {},
                series: [{
                    name: '销量',
                    type: 'line',
                    data: [[${data}]]
                }]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        }
    }
    xmlhttp.open("GET","/a",true);
    xmlhttp.send();
    // }
    // 指定图表的配置项和数据



</script>