<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="link">
<link href="/assets/css/bootstrap.css" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="/assets/css/font-awesome.css" rel="stylesheet" />
<!-- Morris Chart Styles-->
<link href="/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
<!-- Custom Styles-->
<link href="/assets/css/custom-styles.css" rel="stylesheet" />

<script src="/assets/js/echarts.min.js"></script>

<script src="assets/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="assets/js/bootstrap.min.js"></script>

<!-- Metis Menu Js -->
<script src="assets/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="assets/js/morris/raphael-2.1.0.min.js"></script>
<script src="assets/js/morris/morris.js"></script>


<script src="assets/js/easypiechart.js"></script>
<script src="assets/js/easypiechart-data.js"></script>

<script src="assets/js/Lightweight-Chart/jquery.chart.js"></script>

<!-- Custom Js -->
<script src="assets/js/custom-scripts.js"></script>
</div>

<!--	顶部栏-->
<nav class="navbar navbar-default top-navbar" role="navigation" th:fragment="bar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><i class="fa fa-gear"></i> <strong>城市学院考核平台</strong></a>
    </div>
    <ul class="nav navbar-top-links navbar-right">

        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                </li>
                <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <li>&nbsp;</li>
        <!-- /.dropdown -->
    </ul>
</nav>

<!--    admin菜单栏-->
<nav class="navbar-default navbar-side" role="navigation" th:fragment="admin_menu">
    <div class="sidebar-collapse">
        <ul class="nav">

            <li>
                <a th:class="${Uri=='index-administrator.html'?'active-menu':''}" th:href="@{/admin/index}"><i class="fa fa-dashboard"></i> 数据概况</a>
            </li>
            <li>
                <a th:class="${Uri=='teacher-information.html'?'active-menu':''}" th:href="@{/admin/teacher}"><i class="fa fa-desktop"></i> 教师信息</a>
            </li>
            <li>
                <a th:class="${Uri=='student-information.html'?'active-menu':''}" th:href="@{/admin/stu}"><i class="fa fa-bar-chart-o"></i> 学生信息</a>
            </li>
            <li>
                <a th:class="${Uri=='course-information.html'?'active-menu':''}" th:href="@{/admin/course}"><i class="fa fa-bar-chart-o"></i> 课目信息</a>
            </li>
            <li>
                <a th:class="${Uri=='curriculum-information.html'?'active-menu':''}" th:href="@{/admin/curriculum}"><i class="fa fa-table"></i> 课程信息</a>
            </li>
            <li>
                <a th:class="${Uri=='file-request.html'?'active-menu':''}" th:href="@{/admin/file/request}"><i class="fa fa-qrcode"></i> 信息导入</a>
            </li>

        </ul>

    </div>
</nav>
<!--教师菜单栏-->
<nav class="navbar-default navbar-side" role="navigation" th:fragment="teacher_menu">
    <div class="sidebar-collapse">
        <ul class="nav">

            <li>
                <a th:class="${Uri=='index-teacher.html'?'active-menu':''}" th:href="@{/teacher/index}"><i class="fa fa-dashboard"></i> 数据概况</a>
            </li>
            <li>
                <a th:class="${Uri=='curriculum-information.html'?'active-menu':''}" th:href="@{/teacher/curriculum}"><i class="fa fa-edit"></i> 课程信息</a>
            </li>
            <li>
                <a th:class="${Uri=='student-information.html'?'active-menu':''}"th:href="@{/teacher/student}"><i class="fa fa-desktop"></i> 学生信息</a>
            </li>
            <li>
                <a th:class="${Uri=='teacher-multiple-choice.html'?'active-menu':''}" th:href="@{/teacher/multiplechoice}"><i class="fa fa-bar-chart-o"></i> 试题信息</a>
            </li>
            <li>
                <a th:class="${Uri=='question-request.html'?'active-menu':''}" th:href="@{/teacher/question-request}"><i class="fa fa-qrcode"></i> 试题导入</a>
            </li>
            <li>
                <a th:class="${Uri=='generate-papers.html'?'active-menu':''}" th:href="@{/teacher/generate-papers}"><i class="fa fa-table"></i> 生成试卷</a>
            </li>

        </ul>

    </div>
</nav>
<!--学生菜单栏-->
<nav class="navbar-default navbar-side" role="navigation" th:fragment="stu_menu">
    <div class="sidebar-collapse">
        <ul class="nav">

            <li>
                <a th:class="${stuUri=='index-student.html'?'active-menu':''}" th:href=""><i class="fa fa-dashboard"></i> 成绩概况</a>
            </li>
            <li>
                <a href="ui-elements.html"><i class="fa fa-desktop"></i> 个人信息</a>
            </li>
            <li>
                <a href="chart.html"><i class="fa fa-bar-chart-o"></i> 开始答题</a>
            </li>
            <li>
                <a href="tab-panel.html"><i class="fa fa-qrcode"></i> 课后作业</a>
            </li>

        </ul>

    </div>

</nav>

<!--分页-->
<div class="col-md-12 text-center" th:fragment="page">
    <ul class="pagination center">
        <li><a th:href="${actionUrl}+@{/(page=${transmission.indexPage},object=${object})}">首页</a></li>
        <li><a th:href="${actionUrl}+@{/(page=${transmission.page}-1,object=${object})}">上一页</a></li>
        <li class="active"><a th:text="${transmission.page}"></a></li>
        <li><a th:href="${actionUrl}+@{/(page=${transmission.page}+1,object=${object})}">下一页</a></li>
        <li><a href="#" th:href="${actionUrl}+@{/(page=${transmission.endPage},object=${object})}">尾页</a></li>
    </ul>
</div>