<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Bootstrap Styles-->
    <div th:replace="public::link"></div>
</head>
<body>
<div id="wrapper">
    <div th:replace="public::bar"></div>
    <div th:replace="public::${transmission.getMenu()}(Uri='student-information.html')"></div>
    <div id="page-wrapper">
        <div id="page-inner">
            <!--			 -->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h1 class="page-header">
                        详细信息 <small>Detailed information</small>
                    </h1>
                </div>
            </div>
            <!--                -->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <!-- Advanced Tables -->
                    <div class="form-group">
                        <label>学生姓名</label>
                        <label class="form-control" th:text="${student.getsName()}"></label>
                    </div>
                    <div class="form-group">
                        <label>学号</label>
                        <label class="form-control" th:text="${student.getSno()}"></label>
                    </div>
                    <div class="form-group">
                        <label>所属分院</label>
                        <label class="form-control" th:text="${student.getBranch()}"></label>
                    </div>
                    <div class="form-group">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>课程编号</th>
                                <th>课程名称</th>
                                <th>所属专业</th>
                                <th>所属班级</th>
                                <th>学年</th>
                                <th>学期</th>
                                <th>成绩图表</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="curriculum:${curriculums}">
                                <td th:text="${curriculum.getCourseId()}">666</td>
                                <td th:text="${curriculum.getCourseName()}">Java程序设计</td>
                                <td th:text="${curriculum.getSpeciality()}">网络工程</td>
                                <td th:text="${curriculum.getClasses()}">赵健</td>
                                <td th:text="${curriculum.getSchoolYear()}">2018</td>
                                <td th:text="${curriculum.getTerm()}"></td>
                                <td><a class="btn btn-info btn-sm" th:href="@{/teacher/student/chart(studentId=${student.getSno()},courseId=${curriculum.getCourseId()})}">查看</a>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>

        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
</body>
</html>
